* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

h1 {
    margin-bottom: 1rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.4;
}

*:focus, *:focus-visible {
    outline: none;
}

button.card-button.read-more {
    background-color: #fe1251;
    border-color: #fe1251;
}

button.card-button.read-more:hover {
    background-color: #bb103e;
    border-color: #bb103e;
}

button.card-button.add-cart {
    background-color: #000;
    border-color: #000;
}

button.card-button.add-cart:hover {
    background-color: #128707;
        border-color: #128707;
}



.Content {
    font-family: sans-serif;
    width: 80vw;
    margin: 0 auto;
    padding: 2rem 0;
    list-style: none;
    /* display: flex;  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 20px; */
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.Searchbar {
    display: flex;
    background: #fe1251;
    height: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Pagination {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.Pagination button {
    border: 0;
    background: #fe1251;
    border-radius: 20px;
    padding: 5px 21px;
    box-shadow: 0 3px 12px 0 #00000029;
}


.card .card-header {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: transparent;
    flex-direction: row-reverse;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: unset;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px, rgba(0, 0, 0, 0.13) 0px 0px 0px;
    padding: 16px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-image: initial;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}


.card:hover {
    box-shadow: rgb(51 51 51 / 15%) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
    border-color: rgb(254 18 81 / 32%);
}



.col {
    display: flex;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-right: 0px;
}

.category {
    position: relative;
    border-radius: 24px;
    display: inline-block;
    vertical-align: top;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.category span {
    margin: 3px 6px;
    font-family: Inter, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 7.5px;
    top: -2px;
    position: relative;
    padding: 0px 4px;
}

.card-title {
    font-size: 16px;
    font-weight: 800;
    color: rgb(51, 51, 51);
    margin-top: 25px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.description {
    min-height: 21px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 2;
    color: rgba(51, 51, 51, 0.75);
}

.price {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 15px;
    margin-bottom: 7px;
    letter-spacing: normal;
    color: #fe1251;
    white-space: nowrap;
}

.small-text {
    font-family: Inter, sans-serif;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: normal;
}

.form-searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
}

.input-searchbar {
    width: 100%;
    max-width: 500px;
    border: 0;
    padding: 10px 20px;
    border-radius: 100px;
}


